body {
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 1280px;
    margin: 0 auto;
    letter-spacing: 2px;
}    
.menu {
    margin-left: 345px;
    padding: 32px 0 38px 0;
}
.menu_item {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    color: #16a085;
    text-decoration: none;
    margin-right: 67px;
    
}
.info {
    text-align: center;
    font-weight: 700;
    width: 78%;
    margin: 0 auto;
}
.main_img {
    margin-bottom: 55px;
}
.title {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.text {
    line-height: 27px;
    margin-bottom: 40px;
}
.btn {
    width: 175px;
    height: 50px;
    font-family: 'Lato', sans-serif;
    color: white;
    text-transform: uppercase;
    background-color: #16a085;
    letter-spacing: 2px;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 12px;
}
.container_info {
    padding-bottom: 95px;
    background-color: #f5f6f7;
}
.copyright {
    text-align: right;
    margin-right: 105px;
    font-size: 16px;
    font-weight: bold;
    
}